body.about {
    header {
        background-image: linear-gradient(rgba(0, 0, 0, .4), rgba(0, 0, 0, .4)), url(./../assets/about.jpg);
        background-size: cover;
        nav {
            background-color: transparent;
            form.form-inline {
                position: relative;
                input[type='search'] {
                    color: #ffffff;
                }
                input[type='search']::-webkit-input-placeholder {
                    /* Chrome/Opera/Safari */
                    color: rgba(255, 255, 255, .6);
                    font-weight: 500;
                }
                i {
                    left: 8px;
                    top: 10px;
                    color: #ffffff;
                }
            }
            .navbar-nav {
                display: flex;
                justify-content: center;
                align-items: center;
                .nav-item {
                    .nav-link {
                        @media (max-width: 546px) {
                            display: none;
                        }
                        text-transform: uppercase;
                        letter-spacing: 1.3px;
                        font-size: 12px;
                        padding: 5px 0;
                        margin: 0 .8rem;
                        color: #ffffff;
                        border-bottom: 1px solid transparent;
                        &:hover {
                            border-bottom: 1px solid #ffffff;
                        }
                    }
                }
            }
        }
        section.hero {
            display: flex;
            justify-content: center;
            color: #ffffff;
            height: 60vh;
            background-color: transparent;
            background-image: none;
            .para-branding {
                @media (max-width: 360px) {
                    width: auto;
                }
                .slogen {
                    h2 {
                        font-size: 33px;
                        font-weight: 700;
                        letter-spacing: .14px;
                    }
                }
            }
        }
    }
    main {
        .text-content {
            padding: 64px;
            @media (max-width: 776px) {
                padding: 30px 0;
            }
            border-bottom: 1px solid rgb(219, 222, 223);
            h3 {
                font-size: 24px;
                font-weight: 700;
            }
            p {
                font-size: 15px;
                font-weight: 400;
                line-height: 24px;
                // color: rgb(30, 38, 43);
                margin: 18px 0;
            }
            .list-group {
                .list-group-item {
                    &:first-child {
                        border-top-color: transparent;
                    }
                    padding-top: 21px;
                    padding-bottom: 17px;
                    background-image: url('./../assets/right-arrow.png');
                    background-repeat: no-repeat;
                    background-position: right;
                    background-size: 8px;
                    cursor: pointer;
                    @media (min-width: 776px) {
                        padding-left: 0;
                        border-left-color: transparent;
                        border-right-color: transparent;
                    }
                    @media (max-width: 776px) {
                        background-position: 95%;
                    }
                    a {
                        font-size: 15px;
                        font-weight: 600;
                        color: rgb(45, 49, 56);
                        text-decoration: none;
                        text-transform: capitalize;
                        span {
                            &:first-child {
                                margin-right: .6rem;
                            }
                        }
                    }
                }
            }
        }
        .team {
            padding: 64px;
            @media (max-width: 776px) {
                padding: 30px 0;
            }
            text-align: center;
            h3 {
                font-size: 24px;
                font-weight: 700;
                margin-bottom: 20px;
            }
            p {
                font-size: 15px;
                max-width: 600px;
                margin: 0 auto;
                letter-spacing: .14px;
            }
            .grid {
                margin-top: 64px;
                text-align: left;
                .col-12 {
                    @media (max-width: 776px) {
                        margin-bottom: 30px;
                    }
                }
                p {
                    &.name {
                        font-size: 15px;
                        font-weight: 700;
                        margin-top: 10px;
                    }
                    line-height: 20px;
                }
            }
        }
    }
}