section.details {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 120px;
    padding-bottom: 80px;
    @media (max-width: 764px) {
        flex-direction: column-reverse;
        padding-top: 60px;
        padding-bottom: 40px;
        text-align: center;
    }
    img {
        width: 540px;
        height: 444px;
        object-fit: cover;
        @media (max-width: 768px) {
            width: 240px;
            height: 180px;
            margin-bottom: 20px;
        }
        @media (min-width: 768px) and (max-width: 1052px) {
            width: 429px;
            height: 351px;
        }
    }
    .text-details {
        max-width: 412px;
        h2 {
            font-size: 38px;
            font-weight: 600;
            @media (max-width: 992px) {
                font-size: 28px;
            }
        }
        p {
            font-size: 16px;
            color: $secondary-text;
            text-align: left;
            letter-spacing: .14px;
            line-height: 26px;
            @media (max-width: 768px) {
                text-align: center;
            }
        }
        form {
            input {
                @include outline-rm;
            }
            button {
                background-color: $submit-btn;
                border-color: $submit-btn;
                font-family: inherit;
                font-size: 12px;
                font-weight: 600;
                border-radius: 100px;
                padding: 12px 50px;
                letter-spacing: .72px;
                @include outline-rm;
                @media (max-width: 760px) {
                    width: 320px;
                    margin: 0 auto;
                }
            }
        }
    }
}

section.country {
    .row {
        h5 {
            font-weight: 600;
        }
        a.btn-link {
            font-size: 12px;
        }
        .list-group {
            .list-group-item {
                font-size: 18px;
                font-weight: 600;
                padding-left: 0;
                border-color: transparent;
                a {
                    color: $primary-text;
                    text-decoration: none;
                }
            }
        }
    }
}

section.delivery {
    display: flex;
    align-items: center;
    padding-top: 115px;
    padding-bottom: 80px;
    @media (max-width: 764px) {
        flex-direction: column;
        padding-top: 50px;
        padding-bottom: 40px;
    }
    img {
        width: 428px;
        height: 326px;
        @media (max-width: 764px) {
            width: 328px;
            height: 249px;
            margin-bottom: 20px;
        }
        @media (max-width: 1052px) {
            width: 327px;
            height: 248px;
        }
    }
    .text-details {
        max-width: 390px;
        margin-left: 110px;
        @media (max-width: 760px) {
            margin-left: 0px;
            text-align: center;
        }
        h2 {
            font-size: 42px;
            font-weight: 600;
            @media (max-width: 760px) {
                font-size: 28px;
            }
        }
        p {
            color: $secondary-text;
        }
    }
}

section.page-break {
    background-image: url('./../assets/pb.webp');
    @media (max-width: 764px) {
        background-image: none;
    }
    background-size: 42%;
    background-position: right 25%;
    background-repeat: no-repeat;
    background-color: #f7f7f8;
    padding: 40px 0;
    .text-details {
        width: 512px;
        @media (max-width: 760px) {
            width: 100%;
        }
        p {
            color: $secondary-text;
        }
        a {
            font-size: 12px;
            font-weight: 600;
            text-decoration: none;
            padding-left: 0;
        }
    }
}

section.feature-1 {
    padding-top: 115px;
    padding-bottom: 60px;
    @media (max-width: 764px) {
        flex-direction: column-reverse;
        padding-top: 30px;
        padding-bottom: 20px;
    }
    justify-content: space-between;
    img {
        width: 332px;
        height: 370px;
        margin: 0;
        @media (max-width: 992px) {
            width: 275px;
            height: 300px;
            margin-bottom: 30px;
        }
    }
}

section.feature-2 {
    padding-top: 60px;
    padding-bottom: 80px;
    @media (max-width: 764px) {
        flex-direction: column-reverse;
        padding-top: 30px;
        padding-bottom: 40px;
    }
    flex-direction: row-reverse;
    justify-content: space-between;
    img {
        width: 428px;
        height: 372px;
        margin: 0;
        @media (max-width: 992px) {
            height: 300px;
            width: 350px;
            margin-bottom: 30px;
        }
    }
}

section.order {
    padding-top: 92px;
    padding-bottom: 95px;
    text-align: center;
    background-color: #F4DCDC;
    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    h1 {
        font-size: 56px;
        font-weight: 600;
        @media (max-width: 776px) {
            font-size: 32px;
        }
    }
    p {
        width: 418px;
        @media (max-width: 776px) {
            width: 80%;
        }
        color: $secondary-text;
    }
    .row {
        form {
            .input-group {
                .input-group-text {
                    background-color: #fff;
                    border-color: transparent;
                }
                input.form-control {
                    width: 396px;
                    @media (max-width: 776px) {
                        width: 242px;
                    }
                    padding-left: 0;
                }
                .form-control {
                    width: auto;
                    height: 56px;
                    @include outline-rm;
                    border-color: transparent;
                }
                button.form-control {
                    width: 58px;
                }
            }
            button {
                background-color: $submit-btn;
                border-color: $submit-btn;
            }
        }
    }
}

footer {
    background-color: #000;
    .text-details {
        padding-top: 72px;
        padding-bottom: 56px;
        @media (max-width: 360px) {
            padding-top: 30px;
            padding-bottom: 20px;
        }
        p {
            line-height: 22px;
            font-size: 16px;
            font-weight: 500;
            color: rgba(255, 255, 255, 0.4);
            &:first-child {
                color: rgba(255, 255, 255, 0.6);
            }
            a {
                color: rgba(255, 255, 255, 0.6);
                &:hover {
                    color: rgba(255, 255, 255, 0.6);
                }
            }
        }
    }
    main {
        padding-top: 96px;
        padding-bottom: 163px;
        @media (max-width: 776px) {
            padding-top: 30px;
            padding-bottom: 20px;
        }
        .row {
            h3 {
                @media (max-width: 992px) {
                    font-size: 20px;
                }
            }
        }
        ul.list-group {
            li.list-group-item {
                &:first-child {
                    padding: 0;
                    text-transform: uppercase;
                    font-weight: 500;
                    @media (max-width: 992px) {
                        margin-top: 20px;
                    }
                }
                color: #fff;
                background-color: transparent;
                padding: 12px 0 0 0;
                a {
                    color: #8F95A3;
                    font-size: 14px;
                    @media (max-width: 992px) {
                        font-size: 12px;
                    }
                    text-decoration: none;
                }
            }
        }
    }
    .footer {
        display: flex;
        justify-content: center;
        padding-bottom: 50px;
        @media (max-width: 360px) {
            padding-bottom: 10px;
        }
        a {
            color: #8F95A3;
            font-size: 12px;
            font-weight: 500;
            margin: 0 .6rem;
            text-decoration: none;
        }
    }
}