    body.feed {
        nav {
            position: -webkit-sticky;
            position: sticky;
            top: 0;
            right: 0;
            left: 0;
            z-index: 400;
            background-color: $pink;
            .navbar-brand {
                font-weight: 600;
            }
            ul.navbar-nav {
                display: flex;
                justify-content: center;
                align-items: center;
                .nav-item {
                    .nav-link {
                        @media (max-width: 546px) {
                            display: none;
                        }
                        text-transform: uppercase;
                        letter-spacing: 1.3px;
                        font-size: 12px;
                        padding: 5px 0;
                        margin: 0 .8rem;
                        color: #000;
                        border-bottom: 1px solid transparent;
                        &:hover {
                            border-bottom: 1px solid #000;
                        }
                    }
                    .btn {
                        font-size: 12px;
                        font-weight: 600;
                        padding: 4px 16px;
                        border-color: rgba(45, 49, 56, 0.15);
                        text-transform: uppercase;
                        border-radius: 16px;
                        // @media (max-width: 360px) {
                        //     margin-bottom: 10px;
                        // }
                    }
                }
            }
            form.form-inline {
                position: relative;
                input[type='search'] {
                    @include outline-rm;
                    color: #000;
                    border: none;
                    background-color: transparent;
                    padding-left: 32px;
                    position: relative;
                }
                input[type='search']::-webkit-input-placeholder {
                    /* Chrome/Opera/Safari */
                    color: rgba(0, 0, 0, .4);
                    font-weight: 500;
                }
                i {
                    position: absolute;
                    left: 8px;
                    top: 10px;
                    color: #000;
                }
            }
        }
        header {
            section.hero {
                //large display effect
                position: fixed;
                width: 100%;
                // @media(min-width: 992px) {
                // }
                display: flex;
                justify-content: center;
                align-items: flex-start;
                color: #000;
                height: 50vh;
                background-color: $pink;
                background-image: url('./../assets/food.webp');
                background-position: 70% 40%;
                @media (max-width: 1072px) {
                    background-position: 70% 100%;
                }
                @media (max-width: 992px) {
                    justify-content: start;
                    height: 230px;
                    background-position: 70% 0;
                }
                .para-branding {
                    text-align: left;
                    @media (max-width: 360px) {
                        width: auto;
                    }
                    .slogen {
                        h2 {
                            font-size: 64px;
                            font-weight: 700;
                            letter-spacing: -3.5px;
                            line-height: 62px;
                            @media (max-width: 992px) {
                                font-size: 56px;
                            }
                            @media (max-width: 776px) {
                                font-size: 40px;
                                line-height: 45px;
                            }
                        }
                    }
                }
            }
        }
        section.item-group {
            // margin-top: 330px;
            background-color: #fff;
            position: relative;
            margin-top: 330px;
            @media(max-width: 992px) {
                margin-top: 230px;
            }
            // height: 100vh;
            .tag-header {
                position: -webkit-sticky;
                position: sticky;
                top: 56px;
                right: 0;
                left: 0;
                z-index: 400;
                border-bottom: 1px solid rgba(217, 219, 224, 0.5);
                background-color: #fff;
                padding: 12px 0;
                h3 {
                    font-size: 16px;
                    font-weight: 500;
                }
            }
            .store {
                padding-top: 30px;
                h3 {
                    font-size: 24px;
                    font-weight: 600;
                    letter-spacing: .14px;
                }
                p.p-line {
                    color: $secondary-text;
                    font-size: 14px;
                }
                .bar {
                    margin-top: 16px;
                    height: 3px;
                    background-color: #ecedef;
                    .loaded {
                        background-color: #000;
                        width: 3%;
                        height: 100%;
                    }
                }
                .grid {
                    margin: 36px 0;
                    a {
                        color: #000;
                        text-decoration: none;
                        &:hover p.review {
                            opacity: 1;
                        }
                        &:hover {
                            color: #000;
                        }
                        .details {
                            display: flex;
                            margin-top: 10px;
                            p {
                                width: 50%;
                                margin: 0;
                                &:first-child {
                                    font-size: 12px;
                                    font-weight: 600;
                                    line-height: 14px;
                                }
                                &.meta {
                                    font-size: 8px;
                                    color: #00997D;
                                    background-color: rgba(0, 153, 125, 0.1);
                                    display: flex;
                                    justify-content: center;
                                    align-items: center;
                                    text-transform: uppercase;
                                    font-weight: 500;
                                    &.popular {
                                        background-color: rgba(0, 198, 208, 0.1);
                                        color: #00C6D0;
                                    }
                                    &.new {
                                        background-color: rgba(149, 114, 255, 0.1);
                                        color: #9572FF;
                                    }
                                }
                            }
                        }
                        p.distance {
                            font-size: 12px;
                            font-weight: 400;
                            color: $secondary-text;
                            margin-top: 5px;
                            margin-bottom: 2px;
                            span.delivery-type {
                                font-weight: 500;
                                color: rgb(0, 204, 153);
                                margin-right: 5px;
                            }
                        }
                        p.review {
                            font-size: 12px;
                            font-weight: 400;
                            opacity: 0;
                            color: $secondary-text;
                            i {
                                color: #ffd30a;
                                margin-right: 5px;
                            }
                        }
                    }
                }
                &.feature {
                    h3 {
                        @media (min-width: 992px) {
                            margin-top: 25px;
                        }
                    }
                    .grid {
                        position: relative;
                        .slider-btn {
                            border-radius: 100px;
                            position: absolute;
                            z-index: 300;
                            background-color: #fff;
                            border-color: #ecedef;
                            transform: translateY(-50%);
                            top: 50%;
                        }
                        .slick-prev {
                            left: -15px;
                        }
                        .slick-next {
                            right: 0;
                        }
                    }
                }
                &.store-general {
                    h3 {
                        @media (min-width: 992px) {
                            margin-top: 25px;
                        }
                    }
                    .grid {
                        position: relative;
                        .slider-btn {
                            border-radius: 100px;
                            position: absolute;
                            z-index: 300;
                            background-color: #fff;
                            border-color: #ecedef;
                            transform: translateY(-50%);
                            top: 35%;
                        }
                        .slick-prev {
                            left: -15px;
                        }
                        .slick-next {
                            right: 0;
                        }
                    }
                }
                &.nearby {
                    .grid {
                        display: grid;
                        grid-template-columns: repeat(5, 1fr);
                        @media (max-width: 992px) {
                            grid-template-columns: repeat(3, 1fr);
                        }
                        @media (max-width: 776px) {
                            grid-template-columns: repeat(2, 1fr);
                        }
                        @media (max-width: 556px) {
                            grid-template-columns: repeat(1, 1fr);
                        }
                        .gallery-item {
                            @media(min-width: 556px) {
                                margin-right: 15px;
                            }
                            margin-bottom: 30px;
                            .details {
                                flex-direction: column;
                                p {
                                    width: 100%;
                                    font-size: 14px;
                                    font-weight: 600;
                                    span {
                                        font-size: 10px;
                                        color: $secondary-text;
                                        font-weight: 400;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }